* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #cd202d;
}

/* CONTAINER EN GENERAL BUTTONS */
.container {
    background-color: #1b1b1b;
    width: min(90%, 500px);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 4em 2em;
    border-radius: 0.5em;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}



/* UP SECTION CONTAINER */
.section-container {
    display: flex;
    gap: 1em;
    justify-content: center; 
}

.btn {
    padding: 1em 2em; 
    border-radius: 30em;
    background-color: #3e3f43;
    color: #a9a7a7;
    /* Tomato.png down
    background-image: url('img/tomato.png'); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el botón */
    background-position: center; /* Centra la imagen en el botón */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}



.btn-focus {
    background-color: #cb202d;
    color: #ffffff;
}

/* DOWN SECTION CONTAINER */
.time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

#time {
    text-align: center;
    color: #ffffff;
    font-size: 5em;
    font-weight: 600;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
}



#btn-start,
#btn-pause {
    padding: 1em 2em;
    border-radius: 30em;
    cursor: pointer;
    background-color: #ffffff;
    -webkit-box-reflect: below
    3px linear-gradient(transparent, #0005);
    box-shadow: 0 0 5px #cb202d, 0 0 5px #cb202d,
                0 0 20px #cb202d, 0 0 5px #cb202d;
}

.btn:hover,
#btn-start:hover,
#btn-pause:hover {
    color: #ffffff;
    background-color: #cb202d;
}


#btn-reset {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 2em;
    -webkit-box-reflect: below
    3px linear-gradient(transparent, #0005);

}

#btn-reset i {
    text-shadow: 0 0 5px #cb202d, 0 0 5px #cb202d,
                 0 0 20px #cb202d, 0 0 0px #cb202d;
}

#btn-reset:hover {
    color: #cb202d;
}

/* HIDE BTN-PAUSE & BTN-RESET*/
.hide {
    display: none;
}

.show {
    display: block;
}


/* Establece el fondo del contenedor como el SVG */
#tomato-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    fill: red;
    transform: scale(0.4); /* Ajusta este valor según sea necesario */
    /* Puedes ajustar este valor según sea necesario */
    z-index: -1; /* Para que el SVG esté detrás del span */
}

#tomato-svg use {
    fill: #3e3f43;
}

#tomato {
    animation: tomatoAnimation 1s linear infinite;
}

@keyframes tomatoAnimation {
    to {
      transform: scaleY(1);
    }
  }
  